@tailwind base;
@tailwind components;
@tailwind utilities;

/* FORCE INTER FONT EVERYWHERE */
:root {
  font-family: 'Inter', sans-serif;
}

body {
  font-family: 'Inter', sans-serif;
}

@keyframes pop {
  0% { 
    opacity: 0; 
    transform: scale(0.95) translateY(10px); 
  }
  100% { 
    opacity: 1; 
    transform: scale(1) translateY(0); 
  }
}

.animate-pop {
  animation: pop 0.4s cubic-bezier(0.16, 1, 0.3, 1) forwards;
}